<%= form_with(model: spelling_list, local: true) do |form| %>
  <% if spelling_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spelling_list.errors.count, "error") %> prohibited this spelling_list from being saved:</h2>

      <ul>
      <% spelling_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% [1..30].each do |row| %>
    <div class="row">
      <div class="col s6 m6 input-field">
        <%= form.label :word %>
        <%= form.text_field :word %>
      </div>
      <div class="col s6 m6 input-field">
        <%= form.label :definition %>
        <%= form.text_field :definition %>
      </div>
    </div>
  <% end %>






  <div class="actions">
    <%= form.submit 'Create', class: 'btn' %>
  </div>
<% end %>
