<%= form_with(model: spelling_test, local: true) do |form| %>
  <div class="row">
    <div class="col s6 m6 input-field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :spelling_test_name %>
    </div>

    <div class="col s6 m3">
      <%= form.label :practice %>
      <div class="switch">
        <label>
          Off
          <%= form.check_box :practice, id: :spelling_test_practice %>
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 input-field">
      <%= form.select :teacher_id, options_from_collection_for_select(Teacher.all, "id", "name"), id: :spelling_test_teacher_id %>
      <%= form.label :teacher_id %>
    </div>

    <div class="col s12 m6 input-field">
      <%= form.select :week_id, options_from_collection_for_select(@weeks, 'id', 'week_starting'), id: :spelling_test_week_id %>
      <%= form.label :week_id %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Take Test', :class =>['btn grey darken-1'] %>
  </div>
<% end %>
